.key {
  width: 64px;
  height: 86px;
  line-height: 86px;
  font-size: 40px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #333;
  text-align: center;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16);
  margin: 0 4px 22px;
  border: none;
  outline: none;
  &.disabled {
    background: rgba(238, 238, 238, 1);
    color: #999;
  }
}

.btnClose,.btnConfirm {
  width: 138px;
  height: 86px;
  line-height: 86px;
}