.vehicle-keyboard {
  position: fixed;
  width: 100%;
  background: #dadada;
  bottom: -452px;
  left: 0;
  z-index: 9999;
  list-style: none;
  transition: all .3s;

  // todo
  @import url('../key/style/style.less');

  &.iphone-x {
    padding-bottom: 68px;
    bottom: -452px - 68px;

    .content {
      margin-bottom: -22px;
    }
  }

  &.show {
    bottom: 0;
  }

  .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 20px 10px 0;
    padding-left: 15px;
    position: relative;

    .btns-container {
      position: absolute;
      bottom: 0;
      right: 10px;
    }
  }
}